/*
Error: Undefined mixin 'mobile'.
        on line 11 of /home/ubuntu/workspace/scss/blocks/main.scss, in `mobile'
        from line 11 of /home/ubuntu/workspace/scss/blocks/main.scss

6:     z-index: 50;
7:     color: white;
8:     pointer-events: none;
9:     text-align: center;
10:     
11:     @include mobile {
12:         position: static;
13:         margin-left: 12.5%;
14:         padding-top: 10vh;
15:         overflow: auto;
16:     }

Backtrace:
/home/ubuntu/workspace/scss/blocks/main.scss:11:in `mobile'
/home/ubuntu/workspace/scss/blocks/main.scss:11
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:98:in `block in with_mixin'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:98:in `with_mixin'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/usr/local/rvm/gems/ruby-2.4.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/usr/local/rvm/gems/ruby-2.4.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/usr/local/rvm/gems/ruby-2.4.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:331:in `block in watch'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/usr/local/rvm/gems/ruby-2.4.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'mobile'.\A         on line 11 of /home/ubuntu/workspace/scss/blocks/main.scss, in `mobile'\A         from line 11 of /home/ubuntu/workspace/scss/blocks/main.scss\A \A 6:     z-index: 50;\A 7:     color: white;\A 8:     pointer-events: none;\A 9:     text-align: center;\A 10:     \A 11:     @include mobile {\A 12:         position: static;\A 13:         margin-left: 12.5%;\A 14:         padding-top: 10vh;\A 15:         overflow: auto;\A 16:     }"; }
